{% extends "base.html" %}

{% block title %} 菜品清单 {% endblock %}

{% block content %} 
<div class="container">	
        <div class="page-header">
                <h2>菜品清单</h2>
        </div>
        {% for item in list_items.object_list %}
        </br>
        <div class="row" style="padding-top:10">
                <div class="span2">
                        <a href="#">
                                <img class="thumbnail" src="{{item.mug_shot.url}}" alt="">
                        </a>
                </div>
                <div class="span8">
                        <h4>{{item.title}}</h4>
                        {{item.name}}
                </div>
                <div class="span2" style="align:right">
                        <p><a class="btn primary" href="{% url 'depotapp.views.view_product' item.id %}">查看</a></a> </p>
                <p><a class="btn btn-success" href="{% url 'depotapp.views.edit_product' item.id %}">编辑</a> </p>
                <p><a class="btn btn-danger" href="#">删除</a></p>
        </div>
</div>
{% endfor %}
{% if list_items.has_previous %}
<a href="?page={{ list_items.previous_page_number }}">上一页</a>
{% endif %}

<span class="current" align="center" style="display:block;"> 
        第{{ list_items.number }}页，共{{ list_items.paginator.num_pages }}页
</span>

{% if list_items.has_next %}
<a href="?page={{ list_items.next_page_number }}">下一页</a>
{% endif %}
<p align="right">
<a href="{% url 'depotapp.views.create_product' %}">新增产品</a>
</p>
{% endblock %}

